* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-image: url(/image/fondo.png);
    color: #ffffff;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    justify-content: center;
}

.contenedor {
    background-color: #1a0000;
    border-radius: 8px;
    border: 3px solid #ffffff;
    padding: 4.3% 3.5%;
}

.contenedor .logo {
    text-align: center;
}

.contenedor .logo img {
    height: 220px;
    width: 300px;
}

.contenedor .encabezado h1 {
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-shadow: 3px 3px 5px #000,
    4px 2px 6px #000;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.contenedor .inicio {
    padding: 10px 20px;
    background: radial-gradient(circle, #1506065f, #7f030369);
    border-radius: 20px;
    border: 1.5px solid #ffffff;
    margin: 20px auto;
    box-shadow: #000000 0 5px 5px 0;
    transition: background-color 10s ease;
}

.contenedor .inicio:hover {
    background: radial-gradient(circle, #7f030369, #1506065f);
}

.contenedor .inicio h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 10px 0;
}

.contenedor .inicio #usu,
#pass {
    background-color: rgba(199, 0, 0, 0.122);
    border-radius: 5px;
    border: 2.5px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    margin: 10px auto;
    padding: 5px 10rem 5px 10px;
    text-align: start;
}

.contenedor #sesion {
    display: flex; 
    justify-content: center; 
}

.contenedor #sesion button {
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 7px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    box-shadow: #000000 1px 1px 1px 1px;
}

.contenedor #sesion button:hover {
    color: #ffffff;
    background-color: #7f030369;
    transition: 1s ease;
}